/* options.css */
body {
    margin: 0;
    overflow: hidden; /* prevents scrolling */
    background-image: url('https://t4.ftcdn.net/jpg/01/68/20/47/360_F_168204719_aWhXPHpnQGmwyZ9BSaZAdfMcvNWqle7B.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.logo {
    position: fixed;
    max-height: 80px;
    min-height: auto;
    left: 10px; 
    top: 10px; 
    width: 240px;
}

.back-button {
    width: 40px; 
    height: 40px; 
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 20px;
    right: 30px;
    font-size: 1.5em;
    border: 1px solid white;
    border-radius: 50%;
    background: transparent;
    color: white;
    text-decoration: none;
    cursor: pointer;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}


.back-button::before {
    content: '\2039'; 
}

.game-box {
    width: 70%; 
    height: 70vh; 
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
}

.game-box iframe {
    width: 100%;
    height: 100%;
    border: none;
}
