
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Moodify</title>
    <link rel="stylesheet" href="../static/Main.css"> 
</head>
<body>

    <div class="container">
        <div class="row">
           
            <img src="logo.png" class="logo">
            
            <div class ="content">
                <h1>Get Started Now</h1>
                <br>
                <br>
                <p style="margin-bottom: 40px;"> Click the button below to be transported to a realm far from your troubles...
                </p>
                <a href="Manual.html" class="manual-button">Manual</a>
                <a href="AI.html" class="ai-button">AI</a>
            </div>
        </div>

    </div>
    
</body>
</html>
