<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sad Page</title>
    <link rel="stylesheet" href="../static/Sad.css"> 
</head>
<body>
    <a href="Main.html">
        <img src="logo.png" class="logo">
    </a>
    <a href="Manual.html" class="back-button"></a>

   <div class="container">
        <iframe width="866" height="487" src="https://www.youtube.com/embed/w0kM3ZPrSjA" title="Funny Dogs And Cats Videos 2024 😅 - Best Funniest Animal Videos Of The week #7" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    </div>
</html>
