<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Real-time Emotion Detection</title>
</head>
<body>
    <h1>Real-time Emotion Detection</h1>
    
    <div>
        <img id="video" width="640" height="480" alt="Video Stream">
    </div>
    
    <p id="emotion-text">This person is feeling: <span id="detected-emotion"></span></p>

    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
