/* Sad.css */



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    overflow: hidden; /* prevents scrolling */
    background-image: linear-gradient(rgba(0, 0, 0, 0.36),rgba(0, 0, 0, 0.36)), url('https://img.freepik.com/free-vector/green-tones-gradient-background_23-2148376167.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.container {
    max-width: 800px;
    margin: 20px auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center; /* Center the content inside .container */
}

.logo {
    position: fixed;
    max-height: 80px;
    min-height: auto;
    left: 10px; 
    top: 10px; 
    width: 240px;
    z-index: 1;
}

.back-button {
    width: 40px; 
    height: 40px; 
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 20px;
    right: 30px;
    font-size: 1.5em;
    border: 1px solid white;
    border-radius: 50%;
    background: transparent;
    color: white;
    text-decoration: none;
    cursor: pointer;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}

.back-button::before {
    content: '\2039'; 
}




